body {
  font-family: 'Bitter', serif;
  margin: 0;
  padding: 0;
  color: #2A3A3F;
  width: 100%; }
  body .app .my-btn {
    display: inline-block;
    border-radius: 30px;
    border: solid 2px #FDCD3B;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    text-decoration: none; }
    body .app .my-btn:hover {
      background-color: #FDCD3B;
      text-decoration: underline; }
    body .app .my-btn:visited {
      color: #fff; }
  body .app .header {
    background: url(../images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    text-align: center;
    color: #fff;
    font-size: 1.5em; }
    body .app .header img {
      width: 200px;
      border-radius: 100%;
      margin-top: 10vh;
      border: solid 4px #fff; }
    body .app .header h1 {
      width: 100%;
      margin-top: 10vh;
      margin-bottom: 12vh; }
  body .app .projects {
    padding: 50px 0; }
    body .app .projects .project {
      margin: 50px 0; }
      body .app .projects .project .odd {
        background-color: #f3f3f3; }
      body .app .projects .project cite span {
        font-size: 24px; }
      body .app .projects .project img {
        width: 100%; }
  body .app .contact {
    padding: 50px 0;
    text-align: center;
    background: #FDCD3B;
    height: 100vh; }
    body .app .contact h3 {
      margin-top: 20vh;
      font-size: 1.8em; }
    body .app .contact p {
      font-size: 1.3em;
      margin-top: 20px;
      line-height: 30px; }
    body .app .contact a {
      border-color: #2A3A3F;
      margin-top: 35px; }
    body .app .contact .skills {
      margin-top: 80px; }
      body .app .contact .skills .tags {
        display: inline-block;
        background-color: #F4EAD5;
        border-radius: 5px;
        padding: 0 5px;
        color: #E94E77; }
