body {
    font-family: 'Bitter', serif;
    margin: 0;
    padding: 0;
    color: #2A3A3F;
    width: 100%;

    .app {
        .my-btn {
            display: inline-block;
            border-radius: 30px;
            border: solid 2px #FDCD3B;
            padding: 10px 20px;
            font-size: 1em;
            color: #fff;
            text-decoration: none;
            &:hover {
                background-color: #FDCD3B;
                text-decoration: underline;
            }
            &:visited {
                color: #fff;
            }
        }

        .header {
            background: url(../images/bg.jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            height: 100vh;
            text-align: center;
            // display: flex;
            // flex-wrap: wrap;
            // justify-content: center;
            // align-items: center;
            color: #fff;
            font-size: 1.5em;

            img {
                width: 200px;
                border-radius: 100%;
                margin-top: 10vh;
                border: solid 4px #fff;
            }

            h1 {
                width: 100%;
                margin-top: 10vh;
                margin-bottom: 20vh;
            }
        }

        .projects {
            padding: 50px 0;

            .project {
                margin: 50px 0;
                // border-bottom: solid 1px #f3f3f3;

                .odd {
                    background-color: #f3f3f3;
                }

                cite {
                    span {
                        font-size: 24px;
                    }
                }

                img {
                    width: 100%;
                }
            }
        }

        .contact {
            padding: 50px 0;
            text-align: center;
            background: #FDCD3B;
            height: 100vh;

            h3 {
                margin-top: 30vh;
                font-size: 1.8em;
            }
            p {
                font-size: 1.3em;
                margin-top: 20px;
                line-height: 30px;
            }

            a {
                border-color: #2A3A3F;
                margin-top: 35px;

                &:active {
                    background-color: #fff;
                    color: #2A3A3F;
                }
            }

            .skills {
                margin-top: 100px;
            }
        }
    }
}